  header {
        background-color: #1F2933;
        color: #ffffff;
        padding: 20px;
        text-align: center;
    }

    body.dark-mode {
    background-color: #121212;
    color: #FFFFFF;
}
.about-container {
  display: flex;
  align-items: flex-start;
    gap: 20px;
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;

}
 
.feature-image {
  width: 300px;     
  height: 300px;      
  object-fit: cover;   
  

  padding: 20px;
  border-radius: 20px;
  border: 1px solid #e0e0e0;
  box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.1);
  flex-shrink: 0;

}
.about-section {
  flex: 1; 
  padding: 20px;
}
body.dark-mode nav {
    background-color: #1E1E1E;
}


.skills-section {
  margin-top: 40px;
}

.skills-images {
  display: flex;
  gap: 20px;                  
  justify-content: center;    
  margin-bottom: 40px;
}

.skills-images img {
  width: 300px;
  height: 250px;
  object-fit: cover;
  border-radius: 16px;    
  
    padding: 20px;
  border-radius: 20px;
  border: 1px solid #e0e0e0;
  box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.1);
  flex-shrink: 0;
}
footer{
  
    text-align:center;
    padding: 30px;
    background-color: #1F2933;
    color: #ffffff;
    

    }

    @media (max-width: 768px) {
    .about-container {
        flex-direction: column;
        text-align: center;
        border-radius: 120px;
    }

    .feauture-image {
        width: 25px;
        border-radius: 120px;
    }
    
    @media (max-width: 768px) {
  .skills-images {
    flex-direction: column;
  }

  .skills-images img {
    width: 100%;
    height: 200px;
  }

}



    }